<div class="nav-scroller">
  <!-- Brand logo -->
  <a
    class="navbar-brand"
    href="./index.html"
    style="color: #fff; font-weight: 700"
    >QUẢN TRỊ</a
  >
  <!-- Navbar nav -->
  <ul class="navbar-nav flex-column js-nav" id="sideNavbar">
    <li class="nav-item">
      <a class="nav-link has-arrow active" href="./index.html">
        <i data-feather="box" class="nav-icon icon-xs me-2"></i>
        Bảng điều khiển
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link has-arrow" href="./houses.html">
        <i data-feather="home" class="nav-icon icon-xs me-2"></i>
        Phòng
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link has-arrow" href="./agreements.html">
        <i data-feather="check-square" class="nav-icon icon-xs me-2"></i>
        Hợp đồng
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link has-arrow" href="./invoices.html">
        <i data-feather="file-text" class="nav-icon icon-xs me-2"></i>
        Hóa đơn
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link has-arrow" href="./payments.html">
        <i data-feather="credit-card" class="nav-icon icon-xs me-2"></i>
        Phương thức thanh toán
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link has-arrow" href="./tenants.html">
        <i data-feather="users" class="nav-icon icon-xs me-2"></i>
        Cư dân
      </a>
    </li>
  </ul>
</div>
